<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://module6.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=O8eQjGGS3YBnpd39aAINjyE1nuV2n1FdePdn2fnW7V0=" />
  </appSettings>
</configuration>
